{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "plugins": ["inline-dotenv"]
    },
    "production": {
      "plugins": ["transform-inline-environment-variables"]
    }
  }
}
