$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$white: #FFF;
$white-dark: #F5F5F5;
$gray-main: #404649;
$gray-light: #C0C5C8;
$gray-light-2: #CCC;
$gray-dark: #A5ACB0;
$gray-dark-2: #8F908A;
$gray-dark-3: #49483E;
$brown: #262721;
$brown-light: #3C3D38;
$brown-dark: #171714;
