/* Lato */
@font-face {
  font-family: 'latobold';
  src: url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
  url('../fonts/lato/lato-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url('../fonts/lato/lato-light-webfont.woff2') format('woff2'),
  url('../fonts/lato/lato-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latomedium';
  src: url('../fonts/lato/lato-medium-webfont.woff2') format('woff2'),
  url('../fonts/lato/lato-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
  url('../fonts/lato/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latosemibold';
  src: url('../fonts/lato/lato-semibold-webfont.woff2') format('woff2'),
  url('../fonts/lato/lato-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Icomoon */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-o3n0rn');
  src: url('../fonts/icomoon.eot?#iefix-o3n0rn') format('embedded-opentype'),
  url('../fonts/icomoon.woff?-o3n0rn') format('woff'),
  url('../fonts/icomoon.ttf?-o3n0rn') format('truetype'),
  url('../fonts/icomoon.svg?-o3n0rn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e600";
}

.icon-bubble:before {
  content: "\e601";
}

/* Liberation Mono (http://www.fontsquirrel.com/fonts/Liberation-Mono) */
/*@font-face {
  font-family: 'liberation_monoregular';
  src: url('../fonts/LiberationMono-Regular-webfont.eot');
  src: url('../fonts/LiberationMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LiberationMono-Regular-webfont.woff') format('woff'),
  url('../fonts/LiberationMono-Regular-webfont.ttf') format('truetype'),
  url('../fonts/LiberationMono-Regular-webfont.svg#liberation_monoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'liberation_monoitalic';
  src: url('../fonts/LiberationMono-Italic-webfont.eot');
  src: url('../fonts/LiberationMono-Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LiberationMono-Italic-webfont.woff') format('woff'),
  url('../fonts/LiberationMono-Italic-webfont.ttf') format('truetype'),
  url('../fonts/LiberationMono-Italic-webfont.svg#liberation_monoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}*/