/* Lato */
@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latomedium';
  src: url("../fonts/lato/lato-medium-webfont.woff2") format("woff2"), url("../fonts/lato/lato-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latosemibold';
  src: url("../fonts/lato/lato-semibold-webfont.woff2") format("woff2"), url("../fonts/lato/lato-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Icomoon */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-o3n0rn");
  src: url("../fonts/icomoon.eot?#iefix-o3n0rn") format("embedded-opentype"), url("../fonts/icomoon.woff?-o3n0rn") format("woff"), url("../fonts/icomoon.ttf?-o3n0rn") format("truetype"), url("../fonts/icomoon.svg?-o3n0rn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heart:before {
  content: "\e600"; }

.icon-bubble:before {
  content: "\e601"; }

/* Liberation Mono (http://www.fontsquirrel.com/fonts/Liberation-Mono) */
/*@font-face {
  font-family: 'liberation_monoregular';
  src: url('../fonts/LiberationMono-Regular-webfont.eot');
  src: url('../fonts/LiberationMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LiberationMono-Regular-webfont.woff') format('woff'),
  url('../fonts/LiberationMono-Regular-webfont.ttf') format('truetype'),
  url('../fonts/LiberationMono-Regular-webfont.svg#liberation_monoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'liberation_monoitalic';
  src: url('../fonts/LiberationMono-Italic-webfont.eot');
  src: url('../fonts/LiberationMono-Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LiberationMono-Italic-webfont.woff') format('woff'),
  url('../fonts/LiberationMono-Italic-webfont.ttf') format('truetype'),
  url('../fonts/LiberationMono-Italic-webfont.svg#liberation_monoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
.svg-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat; }

.svg-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
  margin-right: 7px; }

.svg-icon:before {
  content: "\00a0"; }

.svg-icon-cz {
  background-image: url(../images/svg/cz.svg); }

.svg-icon-gb {
  background-image: url(../images/svg/gb.svg); }

.svg-icon-ru {
  background-image: url(../images/svg/ru.svg); }

.svg-icon-linkedin {
  background-image: url(../images/svg/in.svg); }

html, body {
  height: 100%;
  font: 16px/28px 'latoregular', Helvetica, Arial, sans-serif;
  background-color: #F5F5F5;
  color: #404649;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

pre {
  margin: 0; }

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 768px) {
    .wrapper {
      padding-left: 40px;
      padding-right: 40px;
      max-width: 950px;
      padding-top: 100px; } }
  @media (min-width: 992px) {
    .wrapper {
      max-width: 963px;
      padding-top: 100px; } }

.egg {
  text-align: center;
  word-wrap: break-word; }

.instafeed-wrapper {
  background-color: #262721; }
  .instafeed-wrapper .wrapper {
    padding-top: 10px;
    padding-bottom: 40px; }
    .instafeed-wrapper .wrapper h2 {
      color: #FFF; }
    .instafeed-wrapper .wrapper #instafeed a {
      display: block; }
      .instafeed-wrapper .wrapper #instafeed a img {
        border-radius: 4px; }
    .instafeed-wrapper .wrapper #instafeed p {
      float: left;
      position: relative;
      padding: 0;
      margin: 0;
      color: #FFF;
      font-size: 14px; }
      .instafeed-wrapper .wrapper #instafeed p.caption {
        padding: 0 10px;
        max-width: inherit;
        width: 100%;
        line-height: 1em; }
      .instafeed-wrapper .wrapper #instafeed p.likes {
        margin: 0 10px; }
        .instafeed-wrapper .wrapper #instafeed p.likes:before {
          font-family: 'icomoon';
          content: "\e600";
          padding-right: 3px; }
      .instafeed-wrapper .wrapper #instafeed p.comments:before {
        font-family: 'icomoon';
        content: "\e601";
        padding-right: 3px; }

footer {
  font-size: 0.8em;
  text-align: center;
  padding: 20px 0; }
  footer .wrapper {
    padding: 0; }

.work-experience-item {
  border: 1px solid #404649;
  padding: 20px 30px;
  margin-bottom: 20px;
  color: #A5ACB0; }
  .work-experience-item .work-experience-item-name {
    font-size: 22px;
    margin-right: 20px; }
    .work-experience-item .work-experience-item-name a {
      color: #FFF; }
  .work-experience-item .work-experience-item-years {
    color: #A5ACB0; }
