@import '../../../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import './variables.scss';

@mixin links() {
  color: $gray-main;
  font-weight: 600;
  border-radius: 3px;
  text-decoration: none;
  padding: 1px 5px 1px 5px;
  border: 1px solid $white;

  @media (min-width: $screen-md-min) {
    padding: 1px 2px 2px 3px;
  }

  &:hover {
    @media (min-width: $screen-md-min) {
      border: 1px solid $gray-light;
    }
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin reset-ma-pa() {
  margin: 0;
  padding: 0;
}