@import '../../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../variables';
@import '../mixins';

header {
  margin-bottom: 30px;
  text-align: center;
  position: relative;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 50px;
  }

  @media (min-width: $screen-md-min) {
    margin-bottom: 75px;
  }

  .avatar {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    background: url(../../images/avatar.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    inset 0 2px 0 rgba(255, 255, 255, 0.1);
  }

  h1 {
    font-size: 24px;
    @include reset-ma-pa();
  }

  h2 {
    font-size: 11px;
    text-transform: uppercase;
    color: $gray-dark;
    margin-top: 4px;
    font-weight: 400;

    em {
      padding: 2px 4px 3px;
      border-radius: 3px;
      border: 1px solid $gray-dark;
      font-style: normal;
    }
  }

  a {
    @include links();
  }
}