.download-cv {
  padding-bottom: 30px;
  text-align: center; }
  @media (min-width: 768px) {
    .download-cv {
      padding-bottom: 40px; } }
  @media (min-width: 992px) {
    .download-cv {
      padding-bottom: 50px; } }
  .download-cv ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    @media (min-width: 992px) {
      .download-cv ul {
        display: inline-block; } }
    .download-cv ul li {
      padding-bottom: 10px; }
      @media (min-width: 768px) {
        .download-cv ul li {
          padding-bottom: 0; } }
      @media (min-width: 992px) {
        .download-cv ul li {
          float: left;
          padding-right: 15px; } }
      .download-cv ul li:last-child {
        padding-bottom: 0; }
        @media (min-width: 992px) {
          .download-cv ul li:last-child {
            padding-right: 0; } }
  .download-cv a {
    color: #404649;
    font-weight: 600;
    font-family: 'latobold';
    border-radius: 3px;
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    border: 1px solid #FFF; }
    @media (min-width: 992px) {
      .download-cv a {
        padding: 1px 2px 2px 3px; } }
    @media (min-width: 992px) {
      .download-cv a:hover {
        border: 1px solid #C0C5C8; } }
    .download-cv a.disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.5; }
