.editor {
  width: 883px;
  margin-top: 50px;
  background-color: #272822;
  border: 1px solid #CCC;
  box-shadow: 0 0 90px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 0;
  display: none; }
  @media (min-width: 992px) {
    .editor {
      display: block; } }
  .editor .top-bar {
    position: relative;
    height: 22px;
    width: 881px;
    background: url("../../images/osx-title-bar.png") 0 0 no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .editor .top-bar:hover {
      background: url("../../images/osx-title-bar.png") 0 -22px no-repeat;
      z-index: 999; }
    .editor .top-bar .top-bar-button {
      position: absolute;
      top: 4px;
      left: 7px;
      display: block;
      background: url("../../images/osx-title-bar-button.png") 0 0 no-repeat;
      z-index: 99;
      height: 14px;
      width: 14px; }
      .editor .top-bar .top-bar-button:hover {
        background: url("../../images/osx-title-bar-button.png") 0 -14px no-repeat; }
      .editor .top-bar .top-bar-button:active {
        background: url("../../images/osx-title-bar-button.png") 0 -28px no-repeat; }
  .editor .tabs-panel {
    background-color: #171714;
    color: #FFF;
    height: 37px;
    position: relative;
    border-bottom: 1px solid #3C3D38;
    z-index: 999; }
    .editor .tabs-panel .lang-switcher {
      display: inline-block;
      position: relative;
      background: url("../../images/button-inactive.png");
      height: 32px;
      width: 185px;
      top: 7px; }
      .editor .tabs-panel .lang-switcher:nth-child(2), .editor .tabs-panel .lang-switcher:last-child {
        margin-left: -23px; }
      .editor .tabs-panel .lang-switcher.active {
        background: url("../../images/button-active.png");
        z-index: 99; }
      .editor .tabs-panel .lang-switcher .switcher {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        padding-left: 30px;
        text-decoration: none;
        color: #8F908A;
        font-size: 13px;
        line-height: 30px;
        cursor: pointer; }
    .editor .tabs-panel .home, .editor .tabs-panel .title {
      float: left;
      line-height: 33px; }
    .editor .tabs-panel .home {
      margin-right: 90px; }
  .editor .code-box {
    padding: 10px 0;
    height: 490px;
    width: 883px;
    background-color: #262721;
    position: relative; }
    .editor .code-box code {
      counter-reset: line;
      position: relative;
      z-index: 9999; }
      .editor .code-box code a {
        color: #FFF;
        text-decoration: none; }
        .editor .code-box code a:hover {
          text-decoration: underline; }
      .editor .code-box code p {
        font-size: 12px;
        line-height: 16px;
        padding: 0 10px 0 50px;
        margin: 0; }
        .editor .code-box code p:before {
          color: #8F908A;
          content: counter(line);
          counter-increment: line;
          font-size: 12px;
          left: -20px;
          text-align: center;
          position: relative; }
        .editor .code-box code p:hover {
          background-color: #49483E; }
  .editor .bottom-bar {
    height: 20px;
    width: 881px;
    background-image: url("../../images/osx-bottom-bar.png");
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
