header {
  margin-bottom: 30px;
  text-align: center;
  position: relative; }
  @media (min-width: 768px) {
    header {
      margin-bottom: 50px; } }
  @media (min-width: 992px) {
    header {
      margin-bottom: 75px; } }
  header .avatar {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    background: url(../../images/avatar.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1); }
  header h1 {
    font-size: 24px;
    margin: 0;
    padding: 0; }
  header h2 {
    font-size: 11px;
    text-transform: uppercase;
    color: #A5ACB0;
    margin-top: 4px;
    font-weight: 400; }
    header h2 em {
      padding: 3px 4px;
      border-radius: 3px;
      border: 1px solid #A5ACB0;
      font-style: normal; }
  header a {
    color: #404649;
    font-weight: 600;
    font-family: 'latobold';
    border-radius: 3px;
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    border: 1px solid #FFF; }
    @media (min-width: 992px) {
      header a {
        padding: 1px 2px 2px 3px; } }
    @media (min-width: 992px) {
      header a:hover {
        border: 1px solid #C0C5C8; } }
    header a.disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.5; }
