html,
body {
  /* min-width: 1366px; */
  height: 100%;
  margin: 0;
  padding: 0;
}
#container {
  width: 100%;
  height: 100%;
  position: relative;
}
#container-left {
  display: block;
  width: 25%;
  height: 100%;
  float: left;
  background-color: black;
}
#container-right {
  display: block;
  width: 75%;
  height: 100%;
  float: right;
  background-color: #fff;
}
.wrapper {
  margin: 0 auto;
  width: 800px;
}
#editor {
  width: 800px;
  margin-top: 50px;
  background-color: #ccc;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
}
#top-bar {
  width: 800px;
  height: 22px;
  background-image: url('../images/osx_title_bar.png');
}
#code-box {
  padding: 10px 0;
  width: 800px;
  height: 420px;
  background: #262721;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#tabs-panel {
  background-color: #171714;
  color: white;
  height: 35px;
  position: relative;
  border-bottom: 1px solid #3C3D38;
  z-index: 999;
}
#tabs-panel .lang-switcher {
  display: inline-block;
  position: relative;
  background: url("../images/button-inactive.png");
  width: 185px;
  height: 32px;
  top: 7px;
}
#tabs-panel .lang-switcher:nth-child(2),
#tabs-panel .lang-switcher:last-child {
  margin-left: -23px;
}
#tabs-panel .lang-switcher.active {
  background: url("../images/button-active.png");
  z-index: 99;
}
#tabs-panel .lang-switcher a {
  font-family: 'liberation_monoregular';
  display: block;
  padding-left: 30px;
  text-decoration: none;
  color: #8F908A;
  font-size: 11px;
  line-height: 30px;
}
#tabs-panel .home,
#tabs-panel .title {
  float: left;
  line-height: 33px;
}
#tabs-panel .home {
  margin-right: 90px;
}
code {
  counter-reset: line;
  position: relative;
  z-index: 9999;
}
code a {
  color: white;
  text-decoration: none;
}
code a:hover {
  text-decoration: underline;
}
code p {
  font-size: 12px;
  line-height: 16px;
  padding: 0 10px 0 50px;
}
code p:before {
  color: #8F908A;
  content: counter(line);
  counter-increment: line;
  font-size: 12px;
  left: -20px;
  text-align: center;
  position: relative;
}
code p:hover {
  background-color: #49483E;
}
#bottom-bar {
  width: 800px;
  height: 20px;
  background-image: url('../images/osx_bottom_bar.png');
}
